
/* NAVBAR */
.flash-header{
  box-shadow: 7px 7px 22px grey;
}

/* APP PAGE*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.maxheight {
  flex: 1;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CARD */

.flash-card  {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 2px 3px 23px rgba(0,0,0,.1);
  padding: 1em 3em;
	transform-style: preserve-3d;
  transition: 0.2s;
  border-radius: 0rem;
}

.card-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__flip-card {
  position: absolute;
  top: 4%;
  right: 5%;
  cursor: pointer;
  color: #333;
}

.card__actions {
  position: absolute;
  bottom: 5%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  transition: 0.3s;
  left: 0;
}

.card__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content--front {
  font-weight: bold;
  font-size: 3em;
}

.card__content--back {
  line-height: 1.5;
  font-size: 14px;
}

div {
  /* border: 1px dotted #000000; */
}

#root {
  height: 100%
}

.container-fluid {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

html,
body {
	height: 100%;
}

.card-stage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/** MENU **/
#flyoutMenu {
  width: 30vw;
  height: 100vh;
  background-color: #343a40;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-30vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu li {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  cursor: pointer;
}
 
#flyoutMenu li:hover {
  color: white;
}

#flyoutMenu li span.active {

  background-color: lightslategrey;
}

#roundButton {
  padding: 18px
}
 
#roundButton:hover {
  background-color: lightslategrey;
  cursor: pointer;
}
 
#roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}

.close-menu{
  position: absolute;
  top: 1%;
  right: 3%;
  cursor: pointer;
}

.delete-icon:hover {
  cursor: pointer
}

.category-row:hover {
  cursor: pointer;
}


.first-row {
  padding-top: 20px;
}